<div {{this.setupModifier}} ...attributes>
  {{yield}}
</div>

{{#if this.editor}}
  {{#each this.tuiOptionsDescriptors as |desc|}}
    {{did-update-helper
      (fn this.updateOption desc)
      (get this.args (get desc 0))
    }}
  {{/each}}
{{/if}}