<h2 id="title">Welcome to Ember</h2>

{{tui-editor
    value=content
    onChange=(action (mut content))
    previewStyle="vertical"
}}

<p>
    <pre>{{content}}</pre>
</p>

{{tui-editor value=content viewer=true}}

{{outlet}}
